.control-panel {

    .buttons-container {

        height: 60vh;
        max-width: 100vw;

        display: flex;
        align-items: center;
        justify-content: center;

        flex-wrap: wrap;

        padding: 5vh 15vw;

        button {
            
            width: 16vw;
            max-width: 250px;
            height: 16vw;
            max-height: 250px;

            margin: 0px 3vw;

            font-size: 1.8vw;
            font-weight: bold;

            border: none;
            border-radius: 5px;

            cursor: pointer;

            & {
                display: inline-block;
                vertical-align: middle;
                -webkit-transform: perspective(1px) translateZ(0);
                transform: perspective(1px) translateZ(0);
                box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
                -webkit-transition-property: transform;
                transition-property: transform;
            }

            &:hover, &:focus, &:active {
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }

            @mixin generateColors($background-color) {
                
                background-color: $background-color;
                border: 1px solid adjust-color($color: $background-color, $blackness: 10%, $alpha: 1.0);
                
                transition: ease-in-out 0.4s;

                

                &:hover {
                    
                    background-color: adjust-color($color: $background-color, $lightness: 10%, $alpha: 1.0);
                    transition: ease-in-out 0.4s;

                }
            }

            &.add-words {
                
                $background-color: #77b3d6;

                @include generateColors($background-color);
            }

            &.add-category {

                $background-color: #c469cc;

                @include generateColors($background-color);
            }

            &.delete-category {

                $background-color: #f79143;

                @include generateColors($background-color);
            }

            &.delete-word {

                $background-color: #df6767;

                @include generateColors($background-color);
            }

            &.edit-word {

                $background-color: #7dbb4e;

                @include generateColors($background-color)
            }
        }
    }

    .buttons-container.nav-mode {
        
        height: 5vw;

        padding: 1vh 5vw;

        align-items: initial;
        justify-content: space-between;

        button {
            height: 3vh;
            width: 15vw;

            margin: 0px 0.5vw;

            font-size: 1vw;
        }
    }
}

@mixin normalizeButton() {
    & {
        display: initial;
        vertical-align: none;
        -webkit-transform: none;
        transform:none;
        box-shadow:none;
        -webkit-transition-duration:none;
        transition-duration: none;
        -webkit-transition-property:none;
        transition-property: none;
    }
    
    &:hover, &:focus, &:active {
        -webkit-transform: none;
        transform: none;
    }
}

@media (max-width: 991.98px) {

    .control-panel {

        .buttons-container {

            height: auto;

            flex-direction: column;
            justify-content: space-around;
            align-items: initial;        

            flex-wrap: nowrap;

            button {
                max-width: none;
                max-height: none;
                
                width: 66vw;
                height: 20vh;

                font-size: 3vw;

                margin-bottom: 3vh;
            }
        }

        .buttons-container.nav-mode {
            padding: 0;

            height: auto;

            flex-direction: row;
            flex-wrap: wrap;

            align-items: stretch;
            align-content: stretch;
            
            button {
                @include normalizeButton();
                box-sizing: border-box;
                
                height: 8vh;
                border-radius: 0;
                
                min-width: 50vw;

                flex-grow: 1;
                align-self: stretch;

                margin: 0;

                font-size: 2vw;
            }
        }
    }
}

@media (max-width: 576px) {

}