.game-container {
    
    display: flex;
    justify-content: space-around;

    margin-top: 2vh;

    .column-1 {

    }

    .column-2 {
        display: flex;
        flex-direction: column;

        justify-content: space-between;
    }
}

@import 'hangman';
@import 'puzzleWord';
@import 'current-score';
@import 'categories';