.message-container {

    padding: 4vh 5vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(255, 78, 78);

    h2 {

        color: #fff;
        margin: 0;
    }
}