html, body {
    margin: 0;
    padding: 0;
}

@mixin titleFont() {

    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

@mixin titleNormalize() {
    user-select: none;
    margin: 0;
}

@mixin bodyFont() {

    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

@import 'header';
@import 'app';